<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Flight Info</title>
</head>
<body>
<div th:fragment="content">
    <h1>Flight Info</h1>
    <table>
        <tr>
            <th>Flight Number</th>
            <td th:text="${flight.flightNumber}">N/A</td>
        </tr>
        <tr>
            <th>Source</th>
            <td th:text="${flight.source}">N/A</td>
        </tr>
        <tr>
            <th>Destination</th>
            <td th:text="${flight.destination}">N/A</td>
        </tr>
        <tr>
            <th>Departure Time</th>
            <td th:text="${flight.departureTime}">N/A</td>
        </tr>
        <tr>
            <th>Arrival Time</th>
            <td th:text="${flight.arrivalTime}">N/A</td>
        </tr>
    </table>
    <p><a th:href="@{/flights}">Back to Flights</a></p>
</div>
</body>
</html>
